body{
    color:rgb(224, 78, 200);
    background-color:rgb(248, 192, 172)
}

header {
    border-bottom: solid 2px rgb(224, 78, 200);
    padding: 20px;
    font-size: 32px;
    color: rgb(224, 78, 200)

}

section{
    background-color: orange;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}